.mainContainer {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        align-items: center;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
}

.posterContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genreContainer {
    display:inline;
    width: 50%;
}
.genreMapContainer {
    display: inline;
}

.ratingAndCardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.genreButton {
    margin: 5px;
}

h1, p {
    color: white;
}

.poster {
    max-height: 400px;
    max-width: 280px;
}

.cardDetails {
    min-width: 165px !important;
    margin-top: 5px;
    display: flex;
}

.cardPlot {
    max-width: 50%;
    margin-top: 10px;
}

.fullPlotButton {
    padding: 3px 6px !important;
}

@media only screen and (min-width: 800px) {
    .posterContainer {
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
    }

    .mainContainer {
        margin-left: 0;
    }

    .ratingAndCardContainer {
        margin-top: 0;
    }

    .cardDetails {
        margin-left: 20px;
    }
  }
