.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
}

h1, p {
    color: white;
}

.poster {
    height: 400px;
}

.posterContainer {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.fullPlot {
    width: 50%;
    background: rgba(25, 25, 25, 0.582);
}

.genreContainer {
    display: flex;
    width: 50%;
}

.genreButton {
    margin: 5px;
}

.card {
    min-width: 165px !important;
}
