.mainContainer {
    margin-left: 0;
    display: flex;
}

.imageTitleContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100px;
}
.moviePoster {
    max-height: 100px;
    max-width: 100px;
}

.movieListTableRow:hover {
    cursor: pointer;
}



@media only screen and (min-width: 800px) {
    .table {
        max-width: 80%;
    }
}