.mainContainer {
    margin-left: 0;
display: flex;
}

.imageTitleContainer {
    display: flex;
}

.moviePoster {
    max-height: 100px;
    max-width: 100px;
}



@media only screen and (min-width: 800px) {
    .table {
        max-width: 80%;
    }
}