@font-face {
    font-family: 'Oswald';
    src: local('Oswald') url(./assets/Fonts/Oswald/Oswald-Regular.ttf) format('truetype');
}

body {
    background-image: url('./assets/background.jpg');
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Oswald', sans-serif !important;
}